/* Burger */

/* Media Leptop */

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .hero-right {
    height: 75%;
  }

  .back-image {
    height: 18rem;
    margin-left: 65px;
  }
}

@media (max-width: 969px) {
  html {
    font-size: 70%;
  }

  .span-1 {
    font-size: 70%;
  }

  .hero-web {
    font-size: 3rem;
  }
  .hero-right {
    height: 70%;
  }

  .back-image {
    height: 18rem;
    margin-left: 60px;
  }

  #hero {
    height: 600px;
  }
}

/* Tablet */

@media (max-width: 758px) {
  html {
    font-size: 60%;
  }

  .hero-right {
    height: 60%;
  }

  .back-image {
    height: 18rem;
    margin-left: 52px;
  }
  .hamburger-menu {
    display: inline-block;
  }
  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #000033;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar-nav.active {
    right: 0;
  }

  .nav ul {
    display: block;
    margin: 1.5rem;
    line-height: 5rem;
    padding: 0.5rem;
    padding-left: 1rem;
    font-size: 5rem;
  }

  .nav ul {
    font-size: 15px;
  }
  .gird-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 0.7fr));
    gap: 2rem;
  }

  .back-image {
    height: 16rem;
    width: 16rem;
    margin-left: 4.3rem;
  }

  .back-image2 {
    margin-left: 0.2rem;
    height: 24rem;
    width: 24rem;
  }

  .hero-right img {
    height: 30rem;
  }

  .span-1 {
    font-size: 3.6rem;
    margin-top: 1.5rem;
  }

  .span-4 {
    font-size: 3rem;
  }

  .hero-left h1,
  .hero-left h3 {
    line-height: 2.8rem;
  }

  .hero-left h3 {
    line-height: 3px;
    font-size: 0.9rem;
    margin-left: 1px;
  }

  .hero-left p {
    margin-left: 1px;
  }

  #skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .btn-2 {
    font-size: 0.8rem;
  }

  .grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
  }

  .navbar-header .logo img {
    height: 2.5rem;
  }

  .navbar-header .logo span {
    font-size: 1.6rem;
  }

  #hero {
    display: grid;
    grid-template-columns: 10fr 0.5fr 0.5fr;
  }

  .hero-right {
    grid-row: 1;
    margin: 0;
    padding-bottom: 0;
    margin-left: 23rem;
  }

  .hero-left {
    grid-row: 2;
    margin-top: 32rem;
  }

  .btn-hero {
    grid-row: 3;
  }
}

/* .hamburger-menu {
  display: inline-block;
}

.nav,
.btn {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000033;
  width: 30rem;
  height: 100vh;
} */
